
<h3>-: Angular builtin pipe :-</h3>
<h4> uppercase:   {{sampletext| uppercase}}</h4>
<h4>lowercase:  {{sampletext|  lowercase}} </h4>

<h4>date:  {{date1 | date}}</h4>
<h4>date:  {{date1 | date:'shortTime'}}  </h4>
<h4>date:  {{date1 | date:'d/M/y'}}  </h4>

<h4>slice:  {{sampletext | slice:1:4}}</h4>
<h4>slice:  {{ sliceEx| slice:0:6}}</h4>
<h4>slice array:  {{ stud| slice:0:2}}</h4>

<h4>currency:  {{ price | currency:'INR'}}</h4>

<h3>custom pipe</h3>
<h4>Original text:{{price | cust  }}</h4>

